body {
}

footer {
  font-size: 0.694em;
}

.boundary {
  min-width: 320px;
  max-width: 996px;
  margin: 0 auto;
  padding: 1px 24px 24px;
}
.boundary { *zoom: 1; position: relative; }
.boundary:before, .boundary:after { display: table; line-height: 0; content: ""; }
.boundary:after { clear: both; }
@media screen and (min-width: 67.25em) { /* 996px */
  .boundary { padding: 1px 0 24px; }
}

.indent { margin-left: 12px; }

img.img-max {
  width:100%;
  max-width:300px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea {
  height: 53px;
}

.has_background {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -ms-behavior: url('backgroundsize.min.htc');
}

[class*="navigation"] .nav-previous a,
[class*="navigation"] .nav-next a,
.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: 4px;
}