@charset "UTF-8";

@font-face {
  font-family: "twola";
  src:url("/fonts/twola.eot");
  src:url("/fonts/twola.eot?#iefix") format("embedded-opentype"),
    url("/fonts/twola.woff") format("woff"),
    url("/fonts/twola.ttf") format("truetype"),
    url("/fonts/twola.svg#twola") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "twola" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="twolicon-"]:before,
[class*=" twolicon-"]:before {
  font-family: "twola" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Catchall baseclass
.twolicon {
  position: relative;
  display: inline-block;
  font-family: 'twola';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -1px;
}

.twolicon-ban-circle:before {
  content: "\61";
}
.twolicon-menu-hamburger:before {
  content: "\62";
}
.twolicon-chevron-right:before {
  content: "\63";
}
.twolicon-chevron-left:before {
  content: "\64";
}
.twolicon-ok:before {
  content: "\65";
}
.twolicon-remove:before {
  content: "\66";
}
.twolicon-chevron-up:before {
  content: "\67";
}
.twolicon-chevron-down:before {
  content: "\68";
}
.twolicon-warning-sign:before {
  content: "\69";
}
.twolicon-plus:before {
  content: "\6a";
}
.twolicon-minus:before {
  content: "\6b";
}
.twolicon-tag:before {
  content: "\6c";
}
.twolicon-tags:before {
  content: "\6d";
}
.twolicon-eye-open:before {
  content: "\6e";
}
.twolicon-eye-close:before {
  content: "\6f";
}
.twolicon-align-justify:before {
  content: "\70";
}
.twolicon-random:before {
  content: "\71";
}
.twolicon-option-vertical:before {
  content: "\72";
}
.twolicon-pencil:before {
  content: "\73";
}
.twolicon-save:before {
  content: "\74";
}
.twolicon-alert:before {
  content: "\75";
}
.twolicon-trash:before {
  content: "\76";
}
.twolicon-file:before {
  content: "\77";
}
.twolicon-dashboard:before {
  content: "\78";
}
.twolicon-list-alt:before {
  content: "\79";
}
.twolicon-open:before {
  content: "\7a";
}
.twolicon-refresh:before {
  content: "\41";
}
.twolicon-flash:before {
  content: "\42";
}
.twolicon-arrow-up:before {
  content: "\43";
}
.twolicon-arrow-down:before {
  content: "\44";
}
.twolicon-arrow-right:before {
  content: "\45";
}
.twolicon-arrow-left:before {
  content: "\46";
}
.twolicon-console:before {
  content: "\47";
}
.twolicon-copyright-mark:before {
  content: "\48";
}
.twolicon-registration-mark:before {
  content: "\49";
}
.twolicon-cloud-download:before {
  content: "\4a";
}
.twolicon-cloud-upload:before {
  content: "\4b";
}
.twolicon-cog:before {
  content: "\4c";
}
.twolicon-wrench:before {
  content: "\4d";
}
.twolicon-search:before {
  content: "\4e";
}
.twolicon-check:before {
  content: "\4f";
}
.twolicon-unchecked:before {
  content: "\50";
}
.twolicon-record:before {
  content: "\51";
}
.twolicon-capture:before {
  content: "\53";
}
.twolicon-running:before {
  content: "\52";
}
.twolicon-venn:before {
  content: "\54";
}
.twolicon-branch:before {
  content: "\55";
}
.twolicon-fork:before {
  content: "\56";
}
.twolicon-timbr:before {
  content: "\57";
}
.twolicon-menu-right:before {
  content: "\58";
}
.twolicon-menu-left:before {
  content: "\59";
}
.twolicon-code:before {
  content: "\5a";
}
.twolicon-pipeline:before {
  content: "\31";
}
.twolicon-snapshot:before {
  content: "\32";
}
.twolicon-source:before {
  content: "\33";
}
.twolicon-table:before {
  content: "\34";
}
